<!-- This page is the same as the Archives page -->
{{ define "main" }}
<!-- All of the posts -->
  <h1>
    Archives
  </h1>
  <div>
        <!-- Range over the pages and only include the ones that are a post type -->
        {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ range (.Paginate $pages).Pages }}
        <article>
            <h2>
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
            </h2>
            <div><p>{{ .Summary }}</p></div>
            <div class="post-footer">
            <time>{{ .Date.Format "January 2, 2006" }}</time>

            <!-- Display tags -->
            {{if .Params.tags}}
                {{ range .Params.tags }}
                    <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
                {{ end }}
            {{ end }}
            </div> 
           
        </article>
        {{ end }}
  </div>

  <div class="page-footer"></div>

{{ end }}